.line {
  fill: none;
  stroke-width: 2px;
}

polyline {
  fill: none;
  stroke-width: 2px;
}

/* TASK 1: Add a CSS rule which adds a red color to the temperature line */
#templine {
  stroke: red;
}

/* TASK 2: Add a CSS rule which adds a blue color to the rain line */
#rainline {
  stroke: blue;
}

/* TASK 3: Add a CSS rule which centers the text of all elements in the <div> containing the header elements */
#header {
  text-align: center;
}

#graph {
  text-align: center;
}